
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.home-section{
    transition: 0.5s;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(100deg, white, 70%, #91c3e4 32%) ;
} 
/* nav start */
#logo{
    font-size: 30px;
    margin-left: 30px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
#logo span{
    color: blue;
} 
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.nav-item{
    margin-left: 30px;
}
.nav-item .nav-link{
    color:rgb(25, 190, 231);
    font-weight: bold;
    transition: 0.5s ease;
}

#first-child{
    color: rgb(5, 45, 221);
    text-shadow: 1px 1px 1px black;
    
}
.nav-item .nav-link:hover {
    color: blue;
    text-shadow: 1px 1px 1px black;
}
.icons{
    font-size: 40px;
    margin-right: 30px;
    text-align: center;
}


@media screen and (max-width:982px){
    .icons{
        margin-left: 25px;
    }
}
/* nav end */

/* home start */
.home{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', sans-serif;
   
}
.home .img{
    flex: 1 1 100px;
}
.home .img img{
    width: 79%;
    animation: c 5s linear infinite;
}
@keyframes c{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}

.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h1{
    margin-left: 42px;
    font-size: 60px;
    text-shadow: -1px 0px 0px #fdf9f9
}
.content h1 span{
    color: #0e0ec9;
    text-shadow: 1px 1px 1px black;
    font-size: 55px;
}
.content p{
    margin-left: 42px;
    font-size: 18px;
    text-decoration: none;
}
#btn{
    margin-left: 40px;
    
}
#btn a{
    text-decoration: none;
    color: black;
}
#btn a:hover {
    text-decoration: none;
    color: white;    
}
#btn button{
    width: 150px;
    height: 50px;
    letter-spacing: 3px;
    background-color: skyblue;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
    
}
#btn button:hover{
    background-color: rgb(50, 112, 245)   ;
    color: black;
    border: none;
}
@media screen and (max-width:1200px) {
    .home-section{
        height: 90vh;
    } 
}
@media screen and (max-width:799px) {
    .home-section{
        height: 140vh;
    } 
}
        
@media screen and (max-width:550px) {
    .home-section{
        height: 118vh;
    } 
}
@media screen and (max-width:420px) {
    .content h1 span{
        font-size: 70px;
    } 
}
@media screen and (max-width:320px) {
    .content h1{
        font-size: 40px;
    }  
    .content h1 span{
        font-size: 40px;
    }  
}


/* home end */

/* about */

.about {
    width: 100%;
    height: 100vh;
    background-image: ('user/img/bg3.jpg') ;
} 
h5 p {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    position: absolute;
    bottom: 0px;
    left: 100px;
    right: 500px;
    font-size: 18px;
    font-style: italic;
}
.top-left {
    position: absolute;
    bottom: 300px;
    left: 100px;
    font-size: 60px;
    font-weight: bold;
  }
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 .about .row .image{
    flex:1 1 40rem;
 }
 .about .row .image img{
    width: 100%;
    margin-left: 0px;
 }
 .content-1{
    flex:1 1 40rem;
    text-align: center;
    background-image: linear-gradient(50deg, #3bb1ff, 40%, #ffffff 60%) ;
 }
 .content-1 h3{
    font-size: 3rem;
    color:black;
    text-transform: capitalize;
    margin-bottom: 1rem;
 }
 .columns-3 {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}
.columns-3 > * {
    width: calc(100% / 3);
}
.columns-4 {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.columns-4 > * {
    width: calc(100% / 3);
}
.columns-5 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.columns-5 > * {
    width: calc(100% / 3);
}
.content-1 p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:rgb(0, 0, 0);
 }

 .customer-review {
    margin: 50px auto;
 }
 .customer-review .title1 {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-bottom: 0px;
    text-transform: uppercase;
    margin-top: 100px;
    text-decoration: underline;
 }
 .customer-review h4::after {
    content: '';
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
 }
 .customer-review .row {
    margin-top: 35px;
 }
.col-md-4 {
    margin: 40px auto;
}
.profile {
    padding: 60px 10px 10px;
    background-color: #41a3dbcb
}
@media only screen and (max-width:576px){
    .customer-review {
        margin-top: 60px; 
        width: 400px;
    }
}


.tab-content {
    border-radius: 25px;
    width: 70vh;
    margin: 5% auto;
    height: 70vh;
    padding: 40px;
    border: 2px solid rgb(128, 112, 112);
}
.tab-content-register {
    border-radius: 25px;
    width: 70vh;
    margin: 5% auto;
    height: 75vh;
    padding: 40px;
    border: 2px solid rgb(128, 112, 112);
}



/*book*/




/* Detergent Start */
.products {
    background-color: #000;
}
.category-card{
    border: 1px solid #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    margin-bottom: 24px;
    background-color: #fff;
}
.category-card a{
    text-decoration: none;
}
.category-card .category-card-img{
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s;
}

.category-card .category-card-img:hover img{
    scale:  1.1;
}

.category-card .category-card-body{
    padding: 10px 16px;
}
.category-card .category-card-body h5{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
/* Detergent End */








.input {
    margin-left: 4rem;
    display: block;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
   
}
input[type="number"] {
    position: relative;
    display: block;
    margin : 0 auto;
    
}

#bbtn {
    display: block;
    background-color: #6fc1ff;
    color: white;
    padding: 12px;
    margin: 10px auto;
    border: none;
    width: 40%;
    border-radius: 3px;
    font-size: 17px;
}
#bbtn:hover {
    background-color: #ffffff;
    color: black;
}


/* end */
/* modal */

/* end */
/* order start */


/* order details */
.order-details {
    margin: 20px auto;
    width: 60%;
    padding: 0px;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #aaaaaa;
    position: relative;
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.details-title {
    margin-left: 12px;
    text-align: start;
    font-size: 12px;
    text-transform: uppercase;
}

td, th {
    border-right: 5px solid #dddddd;
    text-align: left;
    padding: 5px;
}
tbody tr:hover {
    background-color: rgb(151, 181, 206);
}
thead tr {
    background: #242b4d;
	color: #eee;
    position: sticky;
    top: 0;
    z-index: 1;
}
tbody tr:nth-child(even) {
    background-color: #dddddd;
}
.step-book {
   display: flex;
   justify-content: center;
   align-items: center;
}
.step-book-list {
    width: 60%;
  
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    color: #000000;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}
.step-book-item {
    padding: 0 20px;
    flex-basis: 0;
   -webkit-box-flex: 1;
   -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.step-book-item + .step-book-item:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 19px;
    background-color: #000000;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}


.progress-count {
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 2px solid skyblue;
    background: skyblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin:  center center;
}
.progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item {
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
}
.current-item .progress-count:before,
.current-item ~ .step-book-item .progress-count:before {
    display: none;
}

.current-item ~ .step-book-item .progress-count:after {
    height: 10px;
    width: 10px;
}
.current-item ~ .step-book-item .progress-label {
    opacity: 0.5;
}
.current-item .progress-count:after {
    background: #fff;
    border: 2px solid skyblue;
}
.current-item .progress-count {
    color: skyblue;
}






/* media query */
@media (max-width: 1920px) {
    .step-book-list {
        width: 60%;
    }
    .step-book-item {
        min-width: 90px;
        min-height: 90%;
        font-size: 12px;
    }
    .progress-count {
        width: 10px;
        height: 40px;   
    }
    .progress-label {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .step-book-list {
        width: 80%;
    }
    .step-book-item {
        min-width: 90px;
        min-height: 90%;
        font-size: 12px;
    }
    .progress-count {
        width: 10px;
        height: 40px;   
    }
    .progress-label {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .step-book-list {
        width: 90%;  
    }
    .step-book-item {
        min-width: 80px; 
    }
    .progress-count {
        width: 20px;
        height: 40px;
        font-size: 19px;
    }
}

/* end here */



/* checkout*/
.checkout {
    background-color: #1f2125;
    height: 73vh;   
}
.label {
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    display: flex;
   
}
.label p {
    margin-left: 2rem   ;
}
.total {
    width: 74vh;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    
}
.total-payment {
   margin: 10px auto;
   text-transform: uppercase;
}
.payment-detail {
   display: flex;
   justify-content: space-between;
   
}
.payment {
    display: flex;
    justify-content: space-between;
}
p {
    font-size: 12px;
    text-align: center;
}

.totalpayment {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
}
.payment-total {
    text-transform: capitalize;
}
/*login part */

.form-main {
    margin-top: 150px;
}
.laundry-title h3 {
    color: black;
    font-family: brush script mt;
    font-size: 40px;
}
.logindetails p{
    font-size: 20px;
}

.logindetails a {
    text-decoration: none;
}

.tab-content {
    height: 60vh;
}

.btnlogin button {
    border: none;
    background-color: #50b9e2;
    margin: 0 0 15px 0;
    color: white;
    width: 100%;
    height: 50px;
    cursor: pointer;
}


.btnlogin button:hover {
    background-color: #3a9bdb;
}

.forgotpass {
    font-size: 20px;
}
.forgotpass a {
    text-decoration: none;
    color: black;
}

.form-outline {
    margin: 30px 0 8px 0;
}

.form-outline input
{
  border: 1px solid #c9b4b4;
  border-radius: 10px;
  height: 50px;
}

.registerbackground {
    width: 25rem;
}
.Register {
    display: flex;
    justify-content: center;
    margin: 60px auto;
}
.title h3{
    color: black;
    font-family: brush script mt;
    font-size: 230%;
}
.registerDetails p {

  font-size: 20px;
}


.footer p {
    margin-top: 20px;
    font-size: 13px;
}

.tab-content-register {
    height: 80vh;
}